.Signup{
    width: 100vw;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
   
    
}

.Signup Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 230px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    
}
.Signup Form h1{
    color: grey;
}
.Signup Form h5{
    color: grey;
    
}
.Signup Form Button{
    background-color: lightblue;
    margin-top:  10px;
    border: none;
    padding: 8px ;
    cursor: pointer;
    border-radius: 4px;
    
}
.Signup Form .Button{
    background-color: lightblue;
    margin-top:  10px;
    border: none;
    padding: 8px ;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}
.Signup Form Form.Group Form.Control{
    outline: none;
    border: none;
}